<ngb-carousel>
    <ng-template ngbSlide data-stellar-background-ratio="0.5">
        <div class="picsum-img-wrapper">
            <img src="assets/images/carrousel1.jpeg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide data-stellar-background-ratio="0.5">
        <div class="picsum-img-wrapper">
            <img src="assets/images/carrousel2.jpeg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide data-stellar-background-ratio="0.5">
        <div class="picsum-img-wrapper">
            <img src="assets/images/carrousel3.jpeg" alt="Angular Carousel 3">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide data-stellar-background-ratio="0.5">
        <div class="picsum-img-wrapper">
            <img src="assets/images/carrousel3.jpeg" alt="Angular Carousel 4">
        </div>
        <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
</ngb-carousel>