<div class="site-wrap">
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold text-white">Templo</span>
                    <h2 class="site-section-heading text-uppercase text-center font-secondary text-white">El templo sagrado del
                        maestro Miguel y el maestro José</h2>
                </div>
            </div>
            <div class="div-carousel">
                <ngb-carousel>
                    <ng-template ngbSlide data-stellar-background-ratio="0.5">
                        <div class="picsum-img-wrapper">
                            <img src="assets/images/carrousel1.jpeg" alt="Angular Carousel 1" class="img-carousel">
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-carousel">Amarres</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide data-stellar-background-ratio="0.5">
                        <div class="picsum-img-wrapper">
                            <img src="assets/images/carrousel2.jpeg" alt="Angular Carousel 2" class="img-carousel">
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-carousel">Union de Pareja</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide data-stellar-background-ratio="0.5">
                        <div class="picsum-img-wrapper">
                            <img src="assets/images/carrousel3.jpeg" alt="Angular Carousel 3" class="img-carousel">
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-carousel">Limpias y Protecciones</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide data-stellar-background-ratio="0.5">
                        <div class="picsum-img-wrapper">
                            <img src="assets/images/IMG-20210204-WA0077.jpg" alt="Angular Carousel 4"
                                class="img-carousel">
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-carousel">Magia Blanca</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>
