.page-content-wrapper {
  width: 100%;
}
.img-logo {
  width: 5%;
}
.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

.img-carousel {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tittle-home {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.h3-carousel {
  color: white;
}

.carousel-multi-item .controls-top .btn-floating {
  background: #343a40;
  text-align: center;
}
.controls-top {
  text-align: center;
}
.fa-chevron-right:before {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 47px;
}

.fa-chevron-left:before {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 47px;
}

.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%),
    0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.btn-floating:before {
  border-radius: 0;
}

a.waves-effect,
a.waves-light {
  display: inline-block;
}

.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a.waves-effect,
a.waves-light {
  display: inline-block;
}

.btn-secondary-dummy {
  color: white !important;
  background-color: #343a40 !important;
  border-radius: 16px !important;
  cursor: pointer !important;
  border: solid 1px !important;
}

a .btn-primary {
  color: white !important;
  background-color: #343a40 !important;
  border-radius: 16px !important;
  cursor: pointer !important;
  border: solid 1px !important;
}
mdb-card-img img.img-fluid {
  height: 300px !important;
}

@media (max-device-width: 990px) {
  .img-logo {
    width: 11%;
  }
}

@media (min-device-width: 990px) {
  .div-carousel {
    width: 50%;
    margin-left: 25%;
  }
}

.bg-primary {
  background-color: #fff !important;
}
.btn-bg-primary {
  color: white !important;
  background-color: #343a40 !important;
  border-radius: 16px !important;
}
.btn-bg-primary:hover {
  color: white !important;
  background-color: #34392b !important;
  border-radius: 16px !important;
}

.block-13 .owl-dots .owl-dot.active > span,
.block-14 .owl-dots .owl-dot.active > span,
.block-15 .owl-dots .owl-dot.active > span {
  background-color: #343a40 !important;
}

.site-section-heading.text-center:before {
  background-color: #343a40 !important;
}

.card {
  border-radius: 1rem;
  box-shadow: 0px -10px 0px rgb(151, 248, 6);
}
