<footer class="site-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h3 class="footer-heading mb-4 text-white">Acerca de</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia unde, dolorem sunt cupiditate,
                    laborum provident placeat ducimus molestiae qui corrupti, corporis voluptate ad ipsam veniam hic
                    labore facilis eos deleniti.</p>
                <p><a href="#" class="btn btn-secondary text-white px-4">Ver Más</a></p>
            </div>
            <div class="col-md-3 mb-4 mb-md-0 ml-auto">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Menú Rápido</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca de</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contáctenos</a></li>
                            <li><a href="#">Servicios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4 text-white">Redes Sociales</h3>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <a rel="noopener noreferrer" href="https://www.facebook.com/" class="pb-2 pr-2 pl-0"
                                target="_blank"><span class="icon-facebook"></span></a>
                            <a rel="noopener noreferrer" href="https://twitter.com/" class="p-2" target="_blank"><span
                                    class="icon-twitter"></span></a>
                            <a rel="noopener noreferrer" href="https://www.instagram.com/" class="p-2"
                                target="_blank"><span class="icon-instagram" target="_blank"></span></a>
                            <a rel="noopener noreferrer" href="https://www.youtube.com/" class="p-2"
                                target="_blank"><span class="icon-youtube" target="_blank"></span></a>
                            <a rel="noopener noreferrer" href="https://www.whatsapp.com/" class="p-2"
                                target="_blank"><span class="icon-whatsapp" target="_blank"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>Copyright &copy; All rights reserved by <a rel="noopener noreferrer" href="#">DUMMY</a>
                </p>
            </div>
        </div>
    </div>
</footer>