<div class="card text-left politicas-privacidad" *ngIf="!validatorPolicy">
  <div class="card-body">
    <h5 class="card-title text-white">Políticas de privacidad</h5>
    <p class="card-text text-white text-small">Este sitio es solo para mayores de 21 años, personas adultas y
      responsables. La
      llamada y consulta no tiene costo. Su operador puede aplicar costos de acuerdo a plan adquirido por usted. El uso
      de la información y asesoría que está a punto de recibir es bajo su responsabilidad, estos servicios no
      sustituirán la debida atención médica, legal, financiera, psicológica, psiquiátrica; todos los casos son
      diferentes, por tanto los resultados pueden variar de una persona a otra, ante esto los casos pueden llegar a ser
      probables y no existe evidencia científica o eficacia en lo mismo. Únicamente llegamos hasta donde el sentido
      común lo permite. Respetamos la privacidad, su información no será compartida</p>
    <h5 class="h5 text-white"><span class="span">
        <a (click)="validatorPol()" class="btn btn-secondary-dummy text-white px-4">Aceptar</a>
      </span>
    </h5>
  </div>
</div>
<div class="btn-whatsapp">
  <a href="https://api.whatsapp.com/send?phone=+12816528782&text=Hola%20quisiera%20hacer%20una%20consulta%20al%20maestro!"
    target="_blank">
    <h5 class="h5 text-white"><span class="span"><img src="http://s2.accesoperu.com/logos/btn_whatsapp.png"
          alt=""></span></h5>
  </a>
</div>
